@using Microsoft.AspNetCore.Mvc.ModelBinding
@using OneSim.Identity.Web
@using OneSim.Identity.Web.Controllers
@model OneSim.Identity.Web.Models.ViewModels.Account.ChangePasswordViewModel
@{
    ViewData["Title"] = "Change Password";
    Layout = "~/Views/Shared/_SimpleLayout.cshtml";
    List<ModelError> errors = Utils.GetModelErrors(ViewData).ToList();
}

<form id="changePasswordForm" class="ui large form @(errors.Any() ? "error" : string.Empty)" asp-action="@nameof(AccountController.ChangePassword)" asp-controller="@Utils.GetControllerName(nameof(AccountController))" method="post">
    <div class="ui stacked segment">

        @* Validation message *@
        <div class="ui error message" style="padding: 5px;">
            @Html.ValidationSummary()
        </div>

        @* Current Password *@
        <div class="field">
            <div class="ui left icon input">
                <i class="lock icon"></i>
                @Html.PasswordFor(m => m.OldPassword, new { placeholder = "Current password" })
            </div>
        </div>

        @* New Password *@
        <div class="field">
            <div class="ui left icon input">
                <i class="lock icon"></i>
                @Html.PasswordFor(m => m.NewPassword, new { placeholder = "New Password" })
            </div>
        </div>

        @* Confirm New Password *@
        <div class="field">
            <div class="ui left icon input">
                <i class="lock icon"></i>
                @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "Confirm New Password" })
            </div>
        </div>

        @* Anti-forgery token *@
        @Html.AntiForgeryToken()
        
        @* Change Password button *@
        <button class="ui fluid large blue button" type="submit">Change Password</button>
    </div>
</form>