@using Microsoft.AspNetCore.Mvc.ModelBinding
@using OneSim.Identity.Web
@using OneSim.Identity.Web.Controllers
@model OneSim.Identity.Web.Models.ViewModels.Account.ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot Password";
    Layout = "~/Views/Shared/_SimpleLayout.cshtml";
    List<ModelError> errors = Utils.GetModelErrors(ViewData).ToList();
}

<form id="forgotPasswordForm" class="ui large form @(errors.Any() ? "error" : string.Empty)" asp-action="@nameof(AccountController.ForgotPassword)" asp-controller="@Utils.GetControllerName(nameof(AccountController))">
    <div class="ui stacked segment">
        
        @* Validation message *@
        <div class="ui error message" style="padding: 5px;">
            @Html.ValidationSummary()
        </div>

        <p>Please enter your email and we will send you a link to reset your password.</p>

        @* Email *@
        <div class="field">
            <div class="ui left icon input">
                <i class="envelope icon"></i>
                @Html.TextBoxFor(m => m.Email, new { placeholder = "Email address" })
            </div>
        </div>

        @* Anti-forgery token *@
        @Html.AntiForgeryToken()

        @* Submit button *@
        <button class="ui fluid large blue button" type="submit">Submit</button>
    </div>
</form>