@using Microsoft.AspNetCore.Mvc.ModelBinding
@using OneSim.Identity.Web
@using OneSim.Identity.Web.Controllers
@model OneSim.Identity.Web.Models.ViewModels.Account.RegisterViewModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_SimpleLayout.cshtml";
    List<ModelError> errors = Utils.GetModelErrors(ViewData).ToList();
}

<form id="registerForm" class="ui large form @(errors.Any() ? "error" : string.Empty)" asp-action="@nameof(AccountController.Register)" asp-controller="@Utils.GetControllerName(nameof(AccountController))" method="post">
    <div class="ui stacked segment">

        @* Validation message *@
        <div class="ui error message" style="padding: 5px;">
            @Html.ValidationSummary()
        </div>

        @* Email *@
        <div class="field">
            <div class="ui left icon input">
                <i class="envelope icon"></i>
                @Html.TextBoxFor(m => m.Email, new { placeholder = "Email address" })
            </div>
        </div>

        @* Username *@
        <div class="field">
            <div class="ui left icon input">
                <i class="person icon"></i>
                @Html.TextBoxFor(m => m.UserName, new { placeholder = "UserName" })
            </div>
        </div>


        @* Password *@
        <div class="field">
            <div class="ui left icon input">
                <i class="lock icon"></i>
                @Html.PasswordFor(m => m.Password, new { placeholder = "Password" })
            </div>
        </div>

        @* Anti-forgery token *@
        @Html.AntiForgeryToken()
        
        @* Log In button *@
        <button class="ui fluid large blue button" type="submit">Register</button>
    </div>
</form>