@model OneSim.Identity.Web.ViewModels.Account.IndexViewModel

Yeah whatever. fix it up later.

@if (Model != null &&
     !string.IsNullOrEmpty(Model.Message))
{
    <p>
        Message here:
        @Model.Message
        
        @if (Model.MessageIsError)
        {
            <span>It's also an error btw...</span>
        }
    </p>
}
Some links:
@Html.ActionLink("Change Password", "ChangePassword", "Account")
@Html.ActionLink("Enable 2FA", "EnableTwoFactorAuthentication", "Account")
@Html.ActionLink("Disable 2FA", "DisableTwoFactorAuthenticationWarning", "Account")
@Html.ActionLink("Reset 2FA", "ResetTwoFactorAuthenticationWarning", "Account")
@Html.ActionLink("Delete Account", "DeleteAccount", "Account")
@Html.ActionLink("Send Email Confirmation email", "SendVerificationEmail", "Account")