
@using OneSim.Identity.Web
@using OneSim.Identity.Web.Controllers
@model OneSim.Identity.Web.Models.ViewModels.Account.IndexViewModel

Yeah whatever. fix it up later.

@if (Model != null &&
     !string.IsNullOrEmpty(Model.Message))
{
    <p>
        Message here:
        @Model.Message
        
        @if (Model.MessageIsError)
        {
            <span>It's also an error btw...</span>
        }
    </p>
}
Some links:
@Html.ActionLink("Change Password", nameof(AccountController.ChangePassword), Utils.GetControllerName(nameof(AccountController)))
@Html.ActionLink("Enable 2FA", nameof(AccountController.EnableTwoFactorAuthentication), Utils.GetControllerName(nameof(AccountController)))
@Html.ActionLink("Disable 2FA", nameof(AccountController.DisableTwoFactorAuthenticationWarning), Utils.GetControllerName(nameof(AccountController)))
@Html.ActionLink("Reset 2FA", nameof(AccountController.ResetTwoFactorAuthenticationWarning), Utils.GetControllerName(nameof(AccountController)))
@Html.ActionLink("Delete Account", nameof(AccountController.DeleteAccount), Utils.GetControllerName(nameof(AccountController)))
@Html.ActionLink("Send Email Confirmation email", nameof(AccountController.SendEmailConfirmationEmail), Utils.GetControllerName(nameof(AccountController)))